<div class="container">
    <div class="row">
        <h1>Safe & Secure</h1>
          
        <div style="text-align: justify; background-color: white; padding: 10px;">
            <br/>
            <!-- <div style="width: 100%; margin: 0 auto;text-align: center;">
                <img src="./resources/images/safe.jpg" style="width: 150px;" />
            </div>
            <br/> -->
            <h3>
                Stay protected at Client Portal. You'll find latest information on how to order your order samples safely online. 
            </h3>
            <p>
                Our website and mobile application contains security measures that are designed to help protect against the misuse, loss or alteration of the information you provide. Knipper uses secure communications technology to help protect the security of our transactions. Your personally identifiable information is encrypted as it transmits over the internet and is stored in encrypted form. Knipper will only disclose such information to our partners, customers and business associates, Knipper employees and third party service providers who require such information for the provision of services offered on the website and mobile application, and who have signed a confidentiality agreement with us. We will only keep your personal information for as long as it remains necessary or relevant for the purposes stated above or as otherwise required by law.
            </p>
            <p>
                Unfortunately, no data transmission over the Internet can be guaranteed 100% secure. Accordingly, and despite our diligent efforts, Knipper cannot guarantee or warrant the security of any information you transmit to us, or to or from our online products or services
            </p>
      </div>
    </div>
</div>  