<div class="col-xs-12 ">
    <div class="row">
   <!-- <div class="row ">
    <div mat-dialog-title class="Heading col-xs-11 col-md-11 col-lg-11">Communication For {{(data.show)[0].orderId}}</div>


    <div mat-dialog-actions class="Heading col-xs-1 col-md-1 col-lg-1">
        <i class="material-icons cancel" (click)="close()">close</i>
      </div> 
   </div> -->
   <div class=" titleBar">
    <div mat-dialog-title class="Heading ff-open-sans ">Communication for #{{data?.orderId}}</div>


        <div mat-dialog-actions class="Heading ">
            <i class="material-icons cancel" (click)="close()">close</i>
        </div>
    </div>
    <div mat-dialog-content>
        <div class="order">
            <div class="row">
                <div class="OderInfoHeading col-xs-4 col-md-3 col-lg-2 label-color">Order Status</div>
                <div class="OderInfoHeading col-xs-4 col-md-4 col-lg-3 label-color">Knipper Line of Business</div>
                <div class="OderInfoHeading col-xs-4 col-md-3 col-lg-3 label-color">Order Recieved Date</div>
            </div>
            <div class="row">
                <div class="OderInfoText col-xs-4 c col-md-3 col-lg-2 fw-600">{{data?.status}}</div>
                <div class="OderInfoText col-xs-4 col-md-4 col-lg-3  fw-600">Direct to practitioner</div>
            <div class=" OderInfoText col-xs-4 col-md-3 col-lg-3 fw-600"> {{data?.orderReceivedDate  | date}} </div>
        </div>
       </div>
       <div class="tableHeading p-2 mt-2">
           <!-- <span >
            Communications ({{(data.show).length}})
          <br>
               You can select the doucment(s) below to resend
           </span> -->
           <div class="text1">
            Communications ({{(data?.show)?.length}})
           </div>
           <div  class="text2 mt-05">
            You can select the doucment(s) below to resend
           </div>
       </div>
       <div class="row table">
            <div class="col-xs-7 col-md-7 btwLine">
                <sg-grid [columns]="columnsOut" emptyText="No Communication" [items]="reportsPerPageOut"
                    [totalRecordCount]="collectionOut.length" [pageSize]="10" [currentPage]="currentPageOut"
                    [totalPages]="totalPagesOut" (emitPageChange)="paginate($event)" [fromReport]="fromReport"
                    class="txtMiddle">
                    <ng-template let-report>
                        <td class="columnHeader col-xs-1 col-md-1 col-lg-1 pl-2">{{report?.attachmentType}}</td>
                        <td  class="columnHeader col-xs-7 col-md-7 col-lg-7"><a class="attachName">{{report?.attachmentName}}</a><div class="infoText" *ngIf="report.attachmentType=='SRF'">This communication was resent on 09/14/20 at 10:21 AM Est via fax 4444.8888 through MRC</div> </td>
                        <td class="columnHeader col-xs-3 col-md-3 col-lg-3">
                            <mat-icon class="Rectangle print-icon">print</mat-icon>
                            <mat-icon class="Rectangle send-icon" (click)="openDialog(report)">send</mat-icon>
                        </td>
                    </ng-template>
                </sg-grid>
            </div>
            <div class=" col-xs-5 col-md-5  btwLine">
                <sg-grid [columns]="columnsIn" emptyText="No Communication" [items]="reportsPerPageIn"
                    [totalRecordCount]="collectionIn.length" [pageSize]="10" [currentPage]="currentPageIn"
                    [totalPages]="totalPagesIn" (emitPageChange)="paginate($event)" [fromReport]="fromReport"
                    class="txtMiddle">
                    <ng-template let-report>
                    <td class="col-xs-7 col-md-7 col-lg-7 attachName"><a>{{report?.attachmentName}}</a></td>
                        <td class="col-xs-4 col-md-4 col-lg-4">
                            <mat-icon class="Rectangle print-icon">print</mat-icon>
                        </td>
                    </ng-template>
                </sg-grid>
            </div>
        </div>

    </div>
    </div>
    <!-- <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
  </div> -->
</div>