.p-1{
    padding: 1rem;
}
.pl-2{
    padding-left: 2rem;
}
.pl-25px{
    padding-left: 25px;
}
.pr-2{
    padding-right: 2rem;
}
.vertical-align-top{
    vertical-align: text-top;
}
.border-bottom-grey{
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}
