<div class="col-xs-12">
    <div class="row">
        <div class="d-flex flex-row space-between ml-10px mb-2">
            <div class="">Territory History</div>
            <button mat-dialog-close>
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <div class="row table-border">
        <sg-grid [columns]="columns" emptyText="History not available" [items]="repTerritoryData?.rep"
            [totalRecordCount]="repTerritoryData?.rep?.length">
            <ng-template let-rep>
                <td class="col-xs-3 fw-600 decoration-none p-1 pl-2" [ngClass]="{'bg-blue fw-700': !(rep?.endDate)}">
                    <span
                        [ngClass]="{'glyphicon glyphicon-map-marker mr-1': !(rep?.endDate)}"></span>{{rep?.territory?.code}}
                </td>
                <td class="col-xs-3 fw-600 p-1" [ngClass]="{'bg-blue fw-700': !(rep?.endDate)}">{{rep?.territory?.name}}
                </td>
                <td class="col-xs-3 fw-600 p-1" [ngClass]="{'bg-blue fw-700': !(rep?.endDate)}">
                    {{rep?.startDate | date}}</td>
                <td class="col-xs-3 fw-600 p-1" [ngClass]="{'bg-blue fw-700': !(rep?.endDate)}"><span
                        *ngIf="!(rep?.endDate)">--</span>{{rep?.endDate | date}}</td>
            </ng-template>
        </sg-grid>
    </div>
</div>