<div class="external-container">
    <div class="row">
        <a href="https://demo.myrepcenter.com/" target="_blank">
            <div class="col-md-3 col-sm-3 text-center">
                <img src="../../../resources/images/go-to-my-rep-center.svg">
            </div>
            <div class="col-md-9 col-sm-9">
                <div class="flex-box-container">
                    <div>
                        <p class="header-name">Go to My Rep Center</p>
                        <p class="placeholder">Place literature and sample orders</p>

                    </div>
                    <i class="material-icons">arrow_forward</i>
                </div>
            </div>
        </a>
    </div>
    <div class="row">
        <a href="https://demo.myrepcenter.com/admin" target="_blank">

            <div class="col-md-3 col-sm-3 text-center">
                <img src="../../../resources/images/go-to-my-rep-center-admin.svg">
            </div>
            <div class="col-md-9 col-sm-9">
                <div class="flex-box-container">
                    <div>
                        <p class="header-name">Go to My Rep Center Admin Page</p>
                        <p class="placeholder">Example Placeholder Text </p>
                    </div>
                    <i class="material-icons">arrow_forward</i>
                </div>
            </div>
        </a>
    </div>
    <div class="row">
        <a href="https://allergan.msc-uat.knipper.com/" target="_blank">
            <div class="col-md-3 col-sm-3 text-center">
                <img src="../../../resources/images/go-to-my-sample-closet.svg">
            </div>
            <div class="col-md-9 col-sm-9">
                <div class="flex-box-container">
                    <div>

                        <p class="header-name">Go to MySampleCloset®</p>
                        <p class="placeholder">Placing orders by programs</p>

                    </div>
                    <i class="material-icons">arrow_forward</i>
                </div>
            </div>
        </a>
    </div>
    <div class="row">
        <a href="https://allergan-knipper.domo.com" target="_blank">
            <div class="col-md-3 col-sm-3 text-center">
                <img src="../../../resources/images/view-kadabra-dashboard.svg">
            </div>
            <div class="col-md-9 col-sm-9">
                <div class="flex-box-container">
                    <div>

                        <p class="header-name">View KADABRA Dashboard </p>
                        <p class="placeholder">Example Placeholder Text</p>

                    </div>
                    <i class="material-icons">arrow_forward</i>
                </div>
            </div>
        </a>
    </div>
</div>