<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div ><a class="nav-breadcrumb" [routerLink]="breadCrumbNavigationUrl">{{breadCrumbs}}</a> /
                Order Details: {{orderID}}</div>
        </div>
    </div>
   
    <div
        style="display: flex; margin-bottom:16px;width: 159px;height: 28px;border-radius: 14px;background-color: #01569c;color: white; text-align: center; margin-top: 3rem;">
        <div class="Direct-to-Practition">Direct to Practitioner</div>
    </div>

    <mat-expansion-panel class="expansionPanel primary-expansion" (opened)="loadTableData()" (closed)="hideTableData()"
        expanded=true>
        <mat-expansion-panel-header>
            <mat-panel-title *ngIf="hcpDataSet">
                <div style="display: flex;">
                    <a
                        style="text-decoration: underline; color: #ffcd00; font-size: 14px;font-weight: 600;font-stretch: normal;font-style: normal;">{{hcpDataSet.lastName}},
                        {{ hcpDataSet.firstName }}</a>
                    <div class="mat-rectangle">
                        <div class="knipper-logo" [class.textError]="hcpDataSet.status === 'Inactive'"
                            [class.textActive]="hcpDataSet.status === 'Active'"
                            style="text-align: center;font-weight: 600;">
                            <span class="vtext-align">{{hcpDataSet.status | uppercase}}</span>
                        </div>
                        <div class="exppanel-heading"
                            style="opacity:1;margin-right: 1em;margin-top: auto;margin-bottom: auto;">
                            <span style="opacity:0.7;font-size: 12px;">Total Orders Received:</span>
                            <em style="font-size: 14px;color:white;"> {{hcpDataSet.totalReceivedOrders}} </em>
                        </div>
                        <div class="exppanel-heading"
                            style="opacity:1;margin-right: 1em;margin-top: auto;margin-bottom: auto;">
                            <span style="opacity:0.7;font-size: 12px;">Total Pending AOCs:</span>
                            <em style="font-size: 14px;color:white;"> {{hcpDataSet.totalPendingAocs}} </em>
                        </div>
                        <div></div>
                    </div>
                </div>
                <div style="display: flex; flex-wrap: wrap; margin-top: 1em;">
                    <div class="value-box">
                        <div class="exppanel-heading">
                            Knipper ID:
                        </div>
                        <div class="exppanel-value">
                            {{hcpDataSet.knipperId}}
                        </div>
                    </div>
                    <div class="value-box">
                        <div class="exppanel-heading">
                            Client ID:
                        </div>
                        <div class="exppanel-value">
                            {{hcpDataSet.knipperId}}
                        </div>
                    </div>
                    <div class="value-box">
                        <div class="exppanel-heading">
                            Opt Out Details:
                        </div>
                        <div class="exppanel-value">
                            N/A
                        </div>
                    </div>
                    <div class="value-box">
                        <div class="exppanel-heading">
                            Professional Designation:
                        </div>
                        <div class="exppanel-value">
                            {{hcpDataSet.professionalDesignation}}
                        </div>
                    </div>
                    <div class="value-box">
                        <div class="exppanel-heading">
                            Speciality:
                        </div>
                        <div class="exppanel-value">
                            {{hcpDataSet.primarySpeciality}}
                        </div>
                    </div>
                </div>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="main-data busy-container">
            <div [ngBusy]="busyPromises.dtp">
                <samplicity-responsive-datatable #table *ngIf="hcpDataSet && selectedTab === 'dtp'"
                    [perPage]="perPage" [selectEnabled]=false [dialog]="false" name="hcpTableSet"
                    [columns]="columnSchema" [disableDefaultPagination]="true" (showMoreClick)="showMoreClick()"
                    (showLessClick)="showLessClick()" [staticItems]="getDataSet" [showEndOfList]="false"
                    [disableSorting]="loading" (columnSortChange)="updateColumnSort($event)">
                    <ng-template let-item="item" let-column="column" let-displayCreateIcon="false">
                        <div *ngIf="column?.name === 'id'" (mouseenter)="displayCreateIcon=true"
                            (mouseleave)="displayCreateIcon=false" (click)="openCreateTaskDialog()">
                            <a [routerLink]="['dtporders',item.id]" class="id-color"> {{item.id}} </a>
                            <a *ngIf="displayCreateIcon" class="glyphicon glyphicon-file file-icon"></a>
                        </div>
                        <div *ngIf="column?.name === 'shipToAddress'" style="width: 184px;">
                            {{item.shipToAddressLine1}}, {{item.shipToAddressLine2}}, {{item.shipToCity}},
                            {{item.shipToState}},
                            {{item.shipToZipCode}}
                        </div>
                        <span *ngIf="column?.name === 'programName'">
                            Program {{item.programId}}
                        </span>
                        <span *ngIf="column?.name === 'salesRep'">
                            <a style="text-decoration: underline; color: #23527c !important;"> {{item.repFirstName}}
                                {{item.repLastName}} </a>
                        </span>
                        <span *ngIf="column?.name === 'communicationLabel'">
                            <a style="text-decoration: underline; color: #23527c !important;">
                                {{item.communicationLabel}}</a>
                        </span>
                        <span *ngIf="column?.name === 'communicationLabel'">

                            <a style="text-decoration: underline; color: #23527c !important;" [routerLink]="['./']"
                                (click)="openDialog(item.id)"> {{item.communicationLabel}}</a>
                        </span>
                    </ng-template>
                </samplicity-responsive-datatable>
            </div>
        </div>
    </mat-expansion-panel>
</div>