<div class="form-group" [class.samp-no-label]="noLabel">
  <samplicity-field-label *ngIf="label" [inputId]="id" [label]="label" [required]="required || isRequired" [labelTranslated]="labelTranslated"
    [labelParameters]="labelParameters"></samplicity-field-label>
</div>

<div class="mt-1">
  <mat-radio-group class="radio-group-vertical" #group="matRadioGroup">
    <mat-radio-button color="primary" value="all" (click)="onSelectAll()" l10nTranslate>
      {{allLabel}}
    </mat-radio-button>
    <mat-radio-button color="primary" value="select" l10nTranslate>
      {{selectLabel}}
    </mat-radio-button>
  </mat-radio-group>
</div>

<samplicity-search-input #search [hidden]="group.value!=='select'" placeholder="SearchPlaceholder" [parentFormGroup]="searchForm"
                  name="search" (search)="onSearch($event)"></samplicity-search-input>
<samplicity-multi-select-wrapper [hidden]="group.value!=='select'" [listItems]="filteredItems" [height]="height" multiSort="true"
                          [parentFormGroup]="parentFormGroup" [name]="name" [idProperty]="idProperty"></samplicity-multi-select-wrapper>
