$white: #ffffff;
$black: #000000;
$maincopy: #686868;
$maincopylight: #333333;
$darkgraybg: #646566;
$warning: #e87244;
$linkhover: #78D9FA;
$app-blue: #00529c;

$main-background: #f4f4f4;
$primary-color: #009fda;
$secondary-color: #004A87;
$link: $primary-color;
$notify: #ed6561;
$danger: #c91d3f;
$fav-icon-red: #ed6561;
$fav-icon-grey: #989898;
$like-icon-red: #ed6561;
$like-icon-grey: #989898;
$like-icon-green: #008000;
$app-light-grey: #e6e6e6;
$middlegray: #e6e6e6;
$dark-grey-button: #646566;
$dark-grey-button-hover: #4d4e4f;
$success: #14a855;
$app-red: #cb2d4c;
$tag1: $main-background;
$tag2: #caeed5;
$tag3: #d3e3f2;
$checkout-progress: #969696;
$carousel-background: #292e40;
$well-border: #e3e3e3;
$navbar-alt: #01569c;
$sunshine-yellow: #dcab1c;
$btn-primary-bg: #01569c;
$btn-primary-bg-hover: #00488a;

:root {
    --knipper-blue: #00488a;
    --knipper-deep-blue: #00386b;
    --knipper-red: #cb2d4c;
    --white: #ffffff;
    --data-table-row-style-1: #f4f4f4;
    --btn-secondary-hover: #cfcfcf;
    --btn-secondary-disabled: rgba(230, 230, 230, 0.65);
    --btn-secondary-default: #e6e6e6;
    --sky-blue: #d3f1ff;
    --btn-primary-disabled: rgba(1, 86, 156, 0.65);
    --btn-negative-disabled: rgba(238, 102, 70, 0.65);
    --data-table-row-hover: #eef9f9;
    --cerulean: #009fda;
    --sunflower-yellow: #ffcd00;
    --btn-negative-disabled-two: #ee6646;
    --seaweed: #19c773;
    --spruce: #0d6c38;
    --powder-blue: #b4dbff;
    --medium-brown: #8a6116;
    --wintergreen: #24ff95;
  }