<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-2 col-xl-2 product-filter-sidebar" [ngClass]="{'is-collapsed': isCollapsed}"
            id="filter-sidebar" sgMyMatchHeight="sidebar-match-height">
            <div class="filter sidebar-match-height" [ngClass]="{'is-collapsed': isCollapsed}">
                <sg-hcp-order-list-filter (emitHcpSearch)="applyFilter($event)"></sg-hcp-order-list-filter>
            </div>
            <div class="filter-strip sidebar-match-height" (click)="onCollapse()">
                <i class="material-icons sidebar-chevron">{{isCollapsed ? 'chevron_right' : 'chevron_left'}}</i>
                <p><span translate="yes">FILTER</span></p>
            </div>
            <div class="filter-strip-mobile" (click)="onCollapse()">
                <i class="material-icons sidebar-chevron pull-right">{{isCollapsed ? 'expand_more' : 'expand_less'}}</i>
                <p translate="yes">FILTER</p>
            </div>
        </div>

        <div class="col-xs-12" [ngClass]="{'col-sm-12 col-md-10 col-xl-10': !isCollapsed, 'is-collapsed': isCollapsed}"
            id="page-content">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-xl-2">
                    <h1 translate="yes">HCPs ({{totalCount}})</h1>
                </div>
                <div class="col-xs-12 col-md-6 col-xl-2">
                    <div class="pull-right form-inline">
                        <input type="button" class="btn btn-default" value="EXPORT VIEW TO EXCEL" />
                    </div>
                </div>
            </div>

            <!-- Insert Filter Tags (to be implemented later) -->

            <div class="busy-container" style="margin-top: 2rem;">
                <div class="list-head">
                    <div class="displayCount">{{pageDisplay}}</div>
                    <div class="right-head">
                        <div style="margin-top:auto; margin-bottom: auto;">Sort Results By</div>
                        <select class="form-control" style="width: 21em; margin-left: 1em; height: 2.5em;"
                            (change)="sortHcps()" [(ngModel)]="sortingType">
                            <option value="asc" selected>Name in Ascending Order</option>
                            <option value="desc">Name in Descending Order</option>
                        </select>
                    </div>
                </div>
                <div class="list-content" [ngBusy]="busyPromise">
                    <hcp-data-table *ngFor="let hcp of currentList" [hcpDataSet]="hcp"></hcp-data-table>
                </div>
            </div>

            <samplicity-table-pagination [pageDisplay]="pageDisplay" [totalCount]="totalCount" [perPage]="perPage"
                [pageNum]="pageNum" [fixedFooter]="true" (paginateEvent)="onPaginate($event)"
                [isFilterShown]="!isCollapsed">
            </samplicity-table-pagination>
        </div>
    </div>
</div>