<div *ngIf="isNovoClient" class="text-center animated fadeInDown" style=" max-width: 400px;z-index: 100;margin: 0 auto;padding-top: 40px;margin-bottom: 50px;">
    <div class="error-desc">
        <p><span translate="yes">Forgot Password</span></p>
    </div>
</div>

<div *ngIf="!isNovoClient" class="container-fluid leftRightPadding">
    <div class="row">
        <h1 translate="yes">Forgot Password</h1>
        <p translate="yes">Forgot Password? Please answer the below information to retrieve your password</p>
    </div>
    <div class="row panel busy-container">
        <div *ngIf="activeStep === 1">
            <h2 class="col-lg-12 col-md-12 col-sm-12" translate="yes">Forgot Password: Step 1</h2>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit(forgotPasswordForm.value)">
                <div class="form-group col-lg-12 col-md-12 col-sm-12" [ngBusy]="busyPromise">
                    <label for="username" translate="yes">
                        Please enter your email here <span style="color: red;">*</span>
                    </label>
                    <div class="input-group col-lg-12 col-md-12 col-sm-12">
                        <input type="text" class="form-control" id="username" name="username"
                            placeholder="Enter Username" formControlName="username" autocomplete="off" />
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <sg-validation *ngIf="componentId" [componentId]="componentId"></sg-validation>
                        </div>
                    </div>
                </div>
                <div class="form-group col-lg-2 col-md-4 col-sm-4">
                    <input type="button" class="btn btn-default" (click)="openConfirmationModal()" translate="yes"
                        value="RETURN TO LOGIN" />
                </div>
                <div class="form-group col-lg-2 col-md-4 col-sm-4">
                    <div>
                        <button type="submit" class="btn btn-primary" [disabled]="!forgotPasswordForm.valid"
                            translate="yes">Next ></button>
                    </div>
                </div>
            </form>
        </div>
        <div *ngIf="activeStep === 2">
            <security-questions [securityQuestions]="securityQuestions" [hasUserForgottenPassword]="true"
                (emitAreAnswersValid)="recordResponseFromStep2($event)">
            </security-questions>
        </div>
        <div *ngIf="activeStep === 3">
            <h2 class="col-lg-12 col-md-12 col-sm-12" translate="yes">Forgot Password: Step 3 of 3</h2>
            <div class="form-group col-lg-12" translate="yes">
                If your answers are validated, we will send a password reset link to associated email address.
                Please check your email shortly.
            </div>
            <div class="form-group col-lg-2 col-md-4 col-sm-4">
                <input type="button" class="btn btn-primary" (click)="navigateToLogin()" translate="yes"
                    value="RETURN TO LOGIN" />
            </div>
        </div>
    </div>
</div>
<ng-template #confirmation let-c="close">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="c($event)">&times;</button>
        <h4 class="modal-title" translate="yes">Do You Wish To Continue .. </h4>
    </div>
    <div class="modal-body hidden-sm">
    </div>
    <div class="modal-footer col-lg-12 col-md-12 col-sm-12">
        <button class="btn btn-primary col-lg-4 col-md-3 col-sm-2" (click)="navigateToLogin(); c($event)"
            translate="yes">Yes</button>
        <button class="btn btn-default col-lg-4 col-md-3 col-sm-2" style="margin-left: 0;" (click)="c($event)"
            translate="yes">Cancel</button>
    </div>
</ng-template>
