<sg-login-carousel></sg-login-carousel>
<form (ngSubmit)="submitHandler()" #loginForm="ngForm" novalidate>
    <div class="container-fluid" style="margin-top: 30px">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
                <div class="panel-default panel-login" *ngIf="!linkSent && !linkHasExpired">
                    <div class="panel-heading-login">
                        <h3 translate="yes">repportal-authentication-passwordreset</h3>
                    </div>
                    <div class="panel-subheading">
                        <p *ngIf="isExpiredPassword"><i translate="yes">repportal-authentication-passwordexpire</i></p>
                        <p><i translate="yes">repportal-authentication-enternewpassword</i> <i> {{email}}</i></p>
                    </div>
                    <div class="panel-body" [ngBusy]="busyPromise">
                        <div class="col-xs-12">
                            <div class="form-horizontal">
                                <div class="form-group" [ngClass]="{'has-error': !oldpassword.valid && !oldpassword.pristine}" *ngIf="isExpiredPassword">
                                    <label for="in-password" class="sr-only" translate="yes">repportal-authentication-oldpassword</label>
                                    <div class="input-group">
                                        <input type="{{ oldPasswordVisible ? 'text' : 'password' }}" id="in-oldpassword" class="form-control" [(ngModel)]="oldPassword" (ngModelChange)="oldPasswordChanged($event)" name="oldpassword" placeholder="{{'repportal-authentication-placeholder-oldpassword' | translate}}" #oldpassword="ngModel" required />
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" (click)="toggleVisible(false)">
                                                <i class="material-icons">{{ oldPasswordVisible ? "visibility_off" : "visibility" }}</i>
												<span *ngIf="oldPasswordVisible" translate="yes">repportal-authentication-hidepassword</span>
												<span *ngIf="!oldPasswordVisible" translate="yes">repportal-authentication-showpassword</span>
                                            </button>
                                        </span>
                                    </div>
                                    <sg-field-validation [message]="'repportal-validation-oldpasswordrequired'" [hidden]="oldpassword.valid || oldpassword.pristine"></sg-field-validation>
                                    <sg-field-validation [message]="'repportal-validation-invalidoldpassword'" [hidden]="!oldPasswordError"></sg-field-validation>
                                </div>
                                <div class="form-group" [ngClass]="{'has-error': !newpassword.valid && !newpassword.pristine}">
                                    <label for="in-password" class="sr-only">repportal-authentication-newpassword</label>
                                    <div class="input-group">
                                        <input type="{{ newPasswordVisible ? 'text' : 'password' }}" id="in-newpassword" class="form-control" (keyup)="validateRules()" [(ngModel)]="newPassword" name="newpassword" placeholder="{{'repportal-authentication-placeholder-newpassword' | translate}}" #newpassword="ngModel" required />
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" (click)="toggleVisible(true)">
                                                <i class="material-icons">{{ newPasswordVisible ? "visibility_off" : "visibility" }}</i>
												<span *ngIf="newPasswordVisible" translate="yes">repportal-authentication-hidepassword</span>
												<span *ngIf="!newPasswordVisible" translate="yes">repportal-authentication-showpassword</span>
                                            </button>
                                        </span>
                                    </div>
                                    <sg-field-validation [message]="'repportal-validation-newpasswordrequired'" [hidden]="newpassword.valid || newpassword.pristine"></sg-field-validation>
                                </div>
                                <div class="form-group">
                                  <p><span translate="yes">repportal-authentication-passwordrules</span></p>
                                  <div><span class="glyphicon" aria-hidden="true"></span><span translate="yes">repportal-authentication-previous-password</span></div>
                                  <div class="{{newPassword && (minCharactersPass ? 'passed' : 'not-passed')}}"><span class="glyphicon" aria-hidden="true"></span><span translate="yes">repportal-authentication-minimumof8</span></div>
                                  <div class="{{newPassword && (containPartsPass ? 'passed' : 'not-passed')}}"><span class="glyphicon" aria-hidden="true"></span><span translate="yes">repportal-authentication-donotcontain</span></div>
                                  <div class="{{newPassword && (includesFromGroupsPass ? 'passed' : 'not-passed')}}"><span class="glyphicon" aria-hidden="true"></span><span translate="yes">repportal-authentication-includechara</span></div>
                                  <div class="password-groups">
                                    <div class="{{newPassword && (lowercaseLettersPass ? 'passed' : '')}}"><span class="glyphicon" aria-hidden="true"></span><span translate="yes">repportal-authentication-lowercase</span></div>
                                    <div class="{{newPassword && (uppercaseLettersPass ? 'passed' : '')}}"><span class="glyphicon" aria-hidden="true"></span><span translate="yes">repportal-authentication-uppercase</span></div>
                                    <div class="{{newPassword && (numbersPass ? 'passed' : '')}}"><span class="glyphicon" aria-hidden="true"></span><span translate="yes">repportal-authentication-number</span></div>
                                    <div class="{{newPassword && (specialCharactersPass ? 'passed' : '')}}"><span class="glyphicon" aria-hidden="true"></span><span translate="yes">repportal-authentication-special</span></div>
                                  </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.form.valid || !minCharactersPass || !containPartsPass || !includesFromGroupsPass" translate="yes">repportal-authentication-submit</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <a (click)="navigateToLogin()" translate="yes">repportal-authentication-return</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default panel-login" *ngIf="linkSent && !linkHasExpired">
                    <div class="panel-heading panel-heading-login">
                        <h3 translate="yes">repportal-authentication-passwordreseted</h3>
                    </div>
                    <div class="panel-subheading">
                        <p><i translate="yes">repportal-authentication-gotologin</i></p>
                    </div>
                    <div class="panel-body">
                        <div class="col-xs-12">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div>
                                        <a (click)="navigateToLogin()" class="btn btn-primary btn-block" translate="yes">repportal-authentication-return</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default panel-login" *ngIf="linkHasExpired">
                    <div class="panel-heading panel-heading-login">
                        <h3 translate="yes">repportal-authentication-linkexpired</h3>
                    </div>
                    <div class="panel-subheading">
                        <p><i translate="yes">repportal-authentication-requestnewresetlink</i></p>
                    </div>
                    <div class="panel-body">
                        <div class="col-xs-12">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div>
                                        <a routerLink="/passwordforgot" class="btn btn-primary btn-block" translate="yes">repportal-authentication-requestnewlink</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
